<include file="Index/header" />
<body>
<div class="panel admin-panel">
  <div class="panel-head" id="add"><strong><span class="icon-pencil-square-o"></span>增加内容</strong></div>
  <div class="body-content">
    <form method="post" class="form-x" action="/personalBlog/index.php/Admin/Article/add" enctype="multipart/form-data">
      <div class="form-group">
        <div class="label">
          <label>标题：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50" value="" name="title" data-validate="required:请输入标题" />
          <div class="tips"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label>图片：</label>
        </div>
        <div class="field">
          <input type="text" id="url1" name="" class="input tips" style="width:25%;float:left;"  value="" style="cursor:pointer;"/>
          <input type="file" name="pic" class="button margin-left;" style="display:none;" id="fileField" size="28" data-validate="required:请选择缩略图"/>
          <input type="button" class="button bg-blue margin-left" id="image1" value="+ 选取图片" onClick="getElementById('fileField').click()" >
          <div class="tipss">图片尺寸：500*500</div>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label>分类标题：</label>
        </div>
        <div class="field">
          <select name="cateid" class="input w50">
            <option value="">请选择分类</option>
            <volist name="cates" id="vo">
            <option value="{$vo.cate_id}">{$vo.cate_name}</option>
            </volist>
          </select>
          <div class="tips"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label>描述：</label>
        </div>
        <div class="field">
          <textarea class="input" name="description" style=" height:90px;" data-validate="required:请输入描述"></textarea>
          <div class="tips"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label>编辑内容：</label>
        </div>
        <textarea name="content" class="common-textarea" id="ueditor" cols="30" style="margin-left:170px;width:600px;height:500px" rows="10"></textarea>
      </div>
      <div class="clear"></div>
      <div class="form-group">
        <div class="label">
          <label>排序：</label>
        </div>
        <div class="field">
          <input type="number" class="input w50" name="article_sortid" value=""  data-validate="number:排序必须为数字" />
          <div class="tips"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label>作者：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50" name="author" value=""  data-validate="required:请输入发布者名称"/>
          <div class="tips"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label></label>
        </div>
        <div class="field">
          <button class="button bg-main icon-check-square-o" type="submit"> 提交</button>
        </div>
      </div>
    </form>
  </div>
</div>
<script src="/personalBlog/Public/admin/js/laydate.js"></script> 
<script src="/personalBlog/Public/ueditor/ueditor.config.js"></script> 
<script src="/personalBlog/Public/ueditor/ueditor.all.js"></script> 
<script>
    var ue = UE.getEditor('ueditor');
    var fileBtn = $("#fileField");
    fileBtn.on("change", function(){
        var index = $(this).val().lastIndexOf("\\");
        var sFileName = $(this).val().substr((index+1));
        $("#url1").val(sFileName);
    });

    //只出现确定按钮
    laydate.render({
        elem: '#test'
        ,btns: ['confirm']
    });
</script>
</body>
</html>